*{
  margin: 0px;
  padding: 0px;
}

.navbar{
  background-color: #5f4c4c;
  color: white;
  padding: 20px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

button{
  border-radius:10px;
  height:50px;
  width:90px;
  background-color:#c5aa6a;
  margin-left:10px;
}


.searchForm{
  width: 70%;
  margin: 40px auto;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  background-color:#c5aa6a;
}

.searchForm input{
  font-size: 25px;
}
.Table{
  width: 100%;
  margin: 40px auto;
  font-size: 30px;
  display: flex;
  border: 1px solid #5f4c4c;
  justify-content: space-around;
  
}
.Table th,td{
  width: 200px;
}

.firstsearch{
  border:none;
  font-size: 20px;
}
.Table th{
  background-color:#c5aa6a;
}
.seatcontainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
   width: 80%;
   margin: 40px auto;
}

